{% extends "base.html" %}

{% block content %}
<h1>feed page</h1>
<a href="/feeds/new">new feed</a>
{% for feed in feeds %}
  <div style="border: 1px solid grey;">
    <a href="/feeds/{{ feed.id }}">더보기</a> <!-- a는 get밖에 못 보냄 -->
    <form action="/feeds/{{ feed.id }}/delete" method='POST'> <!-- form도 delete를 못해.. 그래서 어쩔 수 없이 post로 보냄-->
      {% csrf_token %}
      <button type="submit">삭제</button>
    </form>
    <p>{{ feed.title }}</p>
    <p>{{ feed.content }}</p>
    {% for c in feed.feedcomment_set.all %}
      <p>ㄴ {{ c.content }}</p>
      <form action="/feeds/{{ feed.id }}/comments/{{ c.id }}/" method="POST">
        {% csrf_token %}
        <button>댓글 삭제</button>
      </form>
    {% endfor %}
    <form action="/feeds/{{ feed.id }}/comments/" method="POST">
      {% csrf_token %}
      <input type="text" name="content" />
      <button type="submit">댓글 달기</button>
    </form>
  </div>
{% endfor %}

{% endblock content %}
