{% extends "base.html" %}

{% block content %}


<h1>feed page</h1>

<form action="/feeds/new">
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" >
    new feed
  </button>
</form>

<div class="content-grid mdl-grid">
{% for feed in feeds %}

<div class="mdl-cell mdl-cell--4-col mdl-cell--stretch">
    
<!-- Wide card with share menu button -->
<style>
    .demo-card-wide.mdl-card {
      width: 100%;
    }
    .demo-card-wide > .mdl-card__title {
      color: rgba(0, 0, 0, 0.863);
      
    }
    .demo-card-wide > .mdl-card__menu {
      color: rgb(70, 196, 164);
    }
    .mdl-card__supporting-text{
      background-color: blue;
      color: antiquewhite;
    }
    </style>


    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <br>
      <div style="text-align: left;">
      <div class="mdl-card__title-text">
            {{ feed.title }}
      </div>
    </div>  
      <div class="mdl-card__title">
      <h3>{{ feed.content }}</h3>
    </div>
      <div class="mdl-card__supporting-text">
        <h4><strong>{{feed.author.username}}</strong></h4>
      
        {% if request.user != feed.author %}
        <form action="/feeds/feeds/{{ feed.author.id }}/follow">
          {% if request.user not in feed.author.follows.all %}
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">favorite_border</i>
          </button>
          {% else %}
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">favorite</i>
          </button>
          {% endif %}
        </form>
        {% endif %}
        <span class="mdl-badge" data-badge={{ feed.author.follow_from.all.count }}>following</span>
        <span class="mdl-badge" data-badge={{ feed.author.follow_to.all.count }}>follower</span>
      </div>

      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        {% if feed.feedcomment_set.all.count > 1 %}
            <div class="comment-toggle-a">
                <p>{{feed.feedcomment_set.all.last.author.username}}: {{feed.feedcomment_set.all.last.content}}</p>
                <form action="/feeds/{{ feed.id }}/comments/{{ feed.feedcomment_set.all.last.id }}/" method="POST">
                    {% csrf_token %}
                    <button>댓글 삭제</button>
                </form>
            </div>
            <div class="comment-toggle-b comment-list{{ feed.id }}">
                {% for c in feed.feedcomment_set.all %}
                    <p>{{c.author.username}}: {{c.content}}</p>
                    <form action="/feeds/{{ feed.id }}/comments/{{ c.id }}/" method="POST">
                        {% csrf_token %}
                        <button>댓글 삭제</button>
                    </form>
                {% endfor %}    
            </div>
            <button class="comment-toggle-a button-a">댓글 더보기</button>
            <button class="comment-toggle-b button-b">댓글 숨기기</button>
        {% else %}
            {% for c in feed.feedcomment_set.all %}
                <p>{{c.author.username}}: {{c.content}}</p>
                <form action="/feeds/{{ feed.id }}/comments/{{ c.id }}/" method="POST">
                    {% csrf_token %}
                    <button>댓글 삭제</button>
                </form>
            {% endfor %}
        {% endif %}
        <form action="/feeds/{{ feed.id }}/comments/" method="POST">
          {% csrf_token %}
          <input id="comment-content{{ feed.id }}" type="text" name="content" />
          <button id="comment-submit" data-number="{{ feed.id }}" >댓글 달기</button>
        </form>
      
      </div>
      
        
        <div class="mdl-card__menu">
        

            <a href="/feeds/{{ feed.id }}/like"> <span class="mdl-badge"
              data-badge={{ feed.like_user_set.count }}>Likes</span></a>
        
        
        </div>
        <p></p>
        <div style="text-align: right;">
          
          <a href="/feeds/{{ feed.id }}">더보기</a>
          <form action="/feeds/{{ feed.id }}/delete" method='POST'>
            {% csrf_token %}
            <button type="submit">삭제</button>
          </form>
        </div>

    </div>
  </div>
{% endfor %}
</div>

{% endblock content %}