{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SNULION</title>
    <link rel="stylesheet" href="{% static 'feeds/mycss.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>

    

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">SNULION</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">Feeds</a>
                    <a class="mdl-navigation__link" href="">Events</a>
                    user.

                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">SNULION</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Feeds</a>
                <a class="mdl-navigation__link" href="">Events</a>
                <span class="mdl-badge" data-badge={{ user.follow_from.all.count }}>following</span>
                <span class="mdl-badge" data-badge={{ user.follow_to.all.count }}>follower</span>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <p></p>
                <!-- Your content goes here -->
                <div style="text-align: left;">
                    {% if user.is_authenticated %}
                    {{ user.get_username}} 님, 안녕하세요
                    <!-- <a href="{% url 'logout'%}?next={{request.path}}">로그아웃</a> -->
                    <!-- Raised button -->
                    <form action="{% url 'logout'%}?next={{request.path}}">
                    <button class="mdl-button mdl-js-button mdl-button--raised">
                        로그아웃
                    </button>
                    </form>
                    {% else %}
                    <!-- <a href="{% url 'login' %}?next={{request.path}}">로그인</a> -->
                    <form action="{% url 'login' %}?next={{request.path}}">
                            <button class="mdl-button mdl-js-button mdl-button--raised">
                                로그인
                            </button>
                    </form>
                    {% endif %}
                    {% block content %}
                    {% endblock content %}
                    <footer class="mdl-mini-footer">
                            <div class="mdl-mini-footer__left-section">
                              <div class="mdl-logo">SNULION</div>
                              <ul class="mdl-mini-footer__link-list">
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Privacy & Terms</a></li>
                              </ul>
                            </div>
                          </footer>
                </div>
            </div>
        </main>
    </div>

    <!-- <header>
            
            <div style="text-align: right;">
                {% if user.is_authenticated %}
                    {{ user.get_username}} 님, 안녕하세요
                    <a href="{% url 'logout'%}?next={{request.path}}">로그아웃</a>

                {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}">로그인</a>
                {% endif %}
            </div>
            Snulion Feeds
        </header>
         -->

    <!-- Accent-colored raised button with ripple -->

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="{% static 'feeds/myjs.js' %}"></script>
</body>

</html>