<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- ./homes/templates/homes/new.html -->
    <h1>숙소 등록</h1>
    <form action="/homes/" method="POST">
        {% csrf_token %}
        <p>제목</p>
        <input name="title"/>
        <p>상세 설명</p>
        <input name="description"/>
        <p>예약 가능 날짜</p>
        <input type="date" name="available_dates_start"/> ~ <input type="date" name="available_dates_end"/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>