{% block content %}
{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<h1>로그인</h1>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }} <!-- p 태그 안에다 각각의 필드를 넣어라 -->
    <input type="hidden" name="next" value="{{ next }}" /> <!-- 추가 -->
    <input type="submit" value="로그인" />
</form>
{% endblock content %}
